@font-face {
  font-family: 'Crimson';
  src: url(./Crimson_Text/CrimsonText-Regular.ttf);
}
@font-face {
  font-family: 'Vollkorn';
  src: url(./Vollkorn/static/Vollkorn-Regular.ttf);
}

:root{
  --max-body-width: 1200px;
  --max-section-width: 90%;

  --yellow:#dddb92;
  --hover-yellow:#dbd767;
  --green: #72955d;
  --blue: #3d5079;
  --blue-shadow: #394a6d;
  --white: #e1dee7;

  --transformation-speed: .2s
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Vollkorn', 'Georgia', serif;
  background-color: var(--white);
  max-width: var(--max-body-width);
  margin: 0px auto;
}

header {
  margin: 20px auto;
  margin-bottom: 0px;
  max-width: var(--max-section-width);
  background-color: var(--blue);
  color: var(--header-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 3em;
  font-family: 'Crimson', 'Georgia', serif;
  margin: 20px;
  margin-left: 0px;
  padding: 5px;
  background-color: var(--white);
  color: var(--blue);
}
nav {
  float: right;
}
nav a {
  margin: 10px;
  color: var(--white);
  font-family: 'Vollkorn', 'Georgia', serif;
  font-size: 1.2em;
}
a {
  font-weight: normal;
  /*transition: font-weight .3s ease-in;*/
}
a:hover {
  font-weight:900;
}

#subtitle-container {
  margin: 20px auto;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: var(--max-section-width);
  position: relative;
  height: 100px;
}
#subtitle-figure {
  background-image: url("../media/zoom/iago.png");
  background-size: cover;
  background-position: 90% 90%;
  opacity: 1;
  width: 100%;
  height: 100%;
  opacity: .3;
}
#subtitle {
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: absolute;
  bottom: 10%;
  right: 5%;
  font-size: 2em;
  color: var(--blue);
  font-family: 'Crimson', serif;
  background-color: var(--white);
}
#subtitle-quotes{
  font-size: 1.5em;
}

.row {
  display: table;
  margin-top: 15px;
  width: 100%;
}
aside {
  border-top: 2px solid var(--green);
  border-right: 2px solid var(--green);
  width: 110px;
  color: var(--blue);
  font-size: 1.2em;
  width: 120px; 
}
.cell {
  display: table-cell; 
  padding: 20px
}

main {
  margin: 10px auto;
  max-width: var(--max-section-width);
}

#aboutMe{
  display: flex;
}
#aboutMe p {
  color: var(--blue);
  font-size: 1.2em;
  padding: 5px;
}
#headShot {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: right;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}
.flex-item {
  border: 3px solid var(--yellow);
  margin: 5px;
  text-align: left;
  align-items: end;
  flex: 1 1;
  min-width: 200px;
  max-width: 400px;
  height: 100px;
  position: relative;
  transition: border var(--transformation-speed) ease;
}
.featured {
  max-width: unset;
  flex: 1 1 100%;
}
.figure{
  background-size: cover;
  opacity: .2;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity var(--transformation-speed) ease;
}
figcaption{ 
  font-size: 1.5em;
  position: absolute;
  background-color: var(--yellow);
  color: var(--blue);
  bottom: 10%;
  transition: background-color var(--transformation-speed) ease;
}


#projects section:hover .figure{
  opacity: 0.6;
} 
#projects section:hover figcaption{
  background-color: var(--hover-yellow);
} 


#iago div {
  background-image: url("../media/zoom/iago.png");
}
#tetris div {
  background-image: url("../media/zoom/tetris.png");
}
#birding div {
  background-image: url("../media/zoom/birding.png");
}
#ensafari div {
  background-image: url("../media/zoom/ensafari.png");
}
#oah div {
  background-image: url("../media/zoom/oah.png");
}
#deadlines div {
  background-image: url("../media/zoom/deadlines.png");
}
#counties div {
  background-image: url("../media/zoom/counties.png");
}
#shapes div {
  background-image: url("../media/zoom/shapes.png");
}

#contacts {
  display: flex;
  justify-content:space-evenly;
}
#contacts span {
  flex: 1 1;
}
#contacts a {
  color: var(--blue);
  font-family: 'Vollkorn', 'Georgia', serif;
  font-size: 1.2em;
}

footer {
  margin: 20px auto;
  padding: 10px;
  max-width: var(--max-section-width);
  background-color: var(--blue);
  color: var(--white);
  font-size: small;
  text-align: right;
}

@media screen and (max-width: 650px) {
  nav {
    float: unset;
    display: grid;
  }
}
@media screen and (max-width: 590px) {
  header h1 {
    font-size: 2em;
  }
  #subtitle {
    bottom: 10%;
    right: 5%;
    font-size: 1.5em;
  }
  #subtitle-quotes{
    font-size: 1.5em;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: unset;
  }
  .cell {
    padding: unset;
  }
  aside {
    border-top: unset;  /*I'm not sure why I need this, but I do.*/
    border-right: unset;
    border-bottom: 2px solid var(--green);
  }
  #contactAnchor {
    display: block;
  }
  #contactAnchor #cell {
    display: block;
  }
  #contacts {
    display: flex;
    flex-direction: column;
  }
  #contacts a {
    margin-left: 30px;
    padding: 10px;
  }
}